.Offer {
  width: 100%;
  background-color: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.Offer:hover {
  background-color: #c6d2fc;
}

.Offers {
 
  width: 30%;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.OffersTitle {
  background-color: blue;
  font-size: 30px;
  color: white;
 width: auto;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.OfferDetails {
  width: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  overflow: auto;
  max-height: 100vh;
  max-width: 120vh;
}
.OffersList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 100vh;

}
.Maletin {
  padding: 10px;
  margin: auto;
  width: 100%;
}
.Office{
  padding: 10px;
  margin: auto;
  width: 100%;
}
.OfferTitle {
  font-size: 20px;
  color: blue;
  margin: 0;
}
.Company {
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 80%;
  left: 0%;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 2%;
}
.Location{
  position: relative;
  justify-content: space-between;
  width: 100%;
  top: 80%;
  left: 0%;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 2%;
  padding: 20px;

}