.Offer {
  background-color: #f4f4f4;
  font-color: #ffffff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.Offer:hover {
  background-color: #c6d2fc;
}

.Offers {
 
  width: 45%;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.OffersTitle {
  background-color: blue;
  font-size: 30px;
  color: white;
 width: auto;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.OfferDetails {
  overflow: auto;
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.OffersList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 100vh;

}
.OfferTitle {
  font-size: 20px;
  color: blue;
  margin: 0;
}
